hr {
	margin: 0 0 10px;
	padding: 0px;
	display: block;
}
hr {
	padding: 0;
	border: none;
	border-top: solid 3px #666666;
	text-align: center;
	margin: 15px 10px;
}
hr:after {
	content: "\f11b";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -1.00em;
	font-size: 2em;
	padding: 0 0.25em;
	background-color: #FFFFFF;
}
.hr-simple {
	padding: 0;
	border: none;
	border-top: solid 1px #666666;
	text-align: center;
	margin: 5px 5px;
}
.hr-simple:after {
	content: none;
	background-color: transparent;
}
p > a {
	color: #FDCA0D !important;
}
.btn-secondary {
	background-color: #BC960A;
	color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
	background-color: #d6aa08;
	color: #fff;
}
.img-responsive {
	margin: auto !important;
}
#main-content {
	padding: 10px 25px;
}
.post {
	margin-top: 15px;
	text-align: justify;
}
	.post p {
		font-size: 17px;
	}
	.post img {
		width: 100%;
	}
	.post hr {
		margin: 30px 10px;
	}
	.post hr:after {
		background-color: #FFFFFF;
	}

	@media(max-width: 710px) {
		.post {
			margin: 0 -40px;
		}
	}

.post-meta {
	font-size: 12px;
	color: #686868;
}
	.post-meta i {
		margin-right: 3px;
	}
	.post-meta span {
		margin-right: 15px;
	}
.sidebar {
	margin-top: 15px;
}
	.sidebar form {
		padding: 10px 0 0 0;
	}
	.sidebar input {
		padding-right: 10px;
	}

	@media(max-width: 710px) {
		.sidebar {
			margin: 35px -35px;
		}
	}
.widget {
	padding: 0px 15px;
}
	.widget a:hover {
	    background-color: #f0f0f0;
	}
	.widget .panel-heading {
		text-align: center;	
		background-color: transparent;
	}
	.widget .panel-heading h3 {
		margin: 0px;
		background-color: transparent;
	}
	.widget .panel-body {
	}
	.widget .panel-body h4 {
		font-size: 19px;
		margin-top: 0px;
	}
	.widget .panel-body img {
		width: 60%;
	}
		@media(min-width: 992px) {
			.widget .panel-body img {
				width: 100% !important;
			}
		}
.btn-icon {
	padding: 11px 20px;
}
.more-posts {
	margin: 0px 10px 40px 10px;
}
.post-text {
	font-size: 17px;
}
.post-title {
	text-align: left;
}	@media(max-width: 768px)
	{
		.post-title {
			text-align: center;
		}
	}

.category-header {
	text-align: center;
}
.post-preview {
	margin-top: 60px;
}