<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Sobre</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/gamba.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <!-- Fonte de Ícones -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body cz-shortcut-listen="true">

        <!-- Menu -->
        <div class="bs-component">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">
                            <img src="imagens/brand.png" class="navbar-brand img-responsive">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html">
                                    Início
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                	Sobre
                                </a>
                            </li>
                            <li>
                                <a href="team.html">
                                	Equipe
                                </a>
                            </li>
                            <li>
                                <a href="games.html">
                                	Jogos
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="category.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                	Tutoriais
                                	<span class="caret"></span>
                            	</a>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                    	<a href="category.html">Categoria 1</a>
                                	</li>
                                    <li>
                                    	<a href="category.html">Categoria 2</a>
                                	</li>
                                    <li>
                                    	<a href="category.html">Categoria 3</a>
                                	</li>
                                    <li>
                                    	<a href="category.html">Categoria 4</a>
                                	</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <section id="main-content">
        	<div class="container-fluid">
        		<div class="col-lg-8 col-lg-offset-2 post">
        			<div class="bs-component">
	                  	<img src="http://placehold.it/800x400" class="img-responsive">
		                <div class="post-title">
		            		<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
		                </div>
	                    <div class="panel-body post-text">
	                      	<p>Pellentesque interdum arcu id faucibus semper. <a href="#">Suspendisse malesuada iaculis quam eu ullamcorper.</a> Vivamus sed feugiat tortor. Duis ac lectus enim. Vestibulum at magna fermentum, bibendum mi non, condimentum dui. Sed dictum lobortis sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam elit sem, luctus a nisl molestie, bibendum fermentum nunc. Aenean et vulputate nulla, dictum tempor dui. Phasellus et tempus eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

							<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In diam lectus, porta vitae commodo vel, feugiat quis quam. In hac habitasse platea dictumst. Aliquam et velit auctor, viverra arcu in, imperdiet justo. Maecenas ut nibh sed ligula hendrerit cursus. Nam quam ipsum, varius eget fringilla vitae, pharetra eu massa. Fusce eget quam tortor. Praesent id massa vitae lectus pulvinar euismod vel id risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

							<p>
								<h5>Unordered List</h5>
								<ul>
									<li>
										Nunc vehicula, leo vitae imperdiet aliquam.
									</li>
									<li>
										Elit ipsum viverra ante, posuere lobortis lorem elit a purus.
									</li>
									<li>
										Praesent tortor orci, commodo vitae mattis ac.
									</li>
									<li>
										Dapibus in lorem. Cras vel nisl elit
									</li>
								</ul>
								<h5>Ordered List</h5>
								<ol>
									<li>
										Donec sed lacus sit amet sem tincidunt iaculis sit amet nec purus
									</li>
									<li>
										Quisque pulvinar dolor vitae lectus efficitur feugiat
									</li>
									<li>
										Sed in pharetra tellus. Cras et laoreet lorem
									</li>
									<li>
										Maecenas ut pulvinar dui, non egestas mauris
									</li>
								</ol>
							</p>

							<p>Aliquam accumsan lorem ac bibendum pretium. Donec bibendum nisl et sapien fermentum malesuada. Suspendisse sit amet eleifend mi. Vivamus tincidunt cursus libero ac convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac nisi in mauris mattis pharetra. Sed pulvinar orci eleifend, elementum risus id, congue felis. Maecenas varius placerat consequat. Nulla tincidunt nibh mauris, et volutpat ex porttitor id. Integer laoreet pulvinar efficitur. Aliquam enim dolor, semper id accumsan ac, scelerisque vitae ipsum. Nulla feugiat ornare turpis at bibendum. Nullam rhoncus neque urna, eu vehicula dolor aliquet eget. Curabitur vestibulum odio sapien. Integer blandit vel massa vel euismod. Nullam ut hendrerit lorem.</p>

			                <blockquote>
			                    <p>
			                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
		                    	</p>
			                    <small>
			                    	Someone famous in <cite title="Source Title">Source Title</cite>
		                    	</small>
							</blockquote>

							<p>Pellentesque sed dictum odio. Duis commodo convallis lacus, sit amet tristique dolor faucibus interdum. Mauris nibh mi, hendrerit quis orci eu, venenatis efficitur lacus. Proin egestas luctus mi in rutrum. Cras sit amet varius lacus. Etiam ornare augue nec orci pulvinar facilisis. Vestibulum luctus ultricies ullamcorper. Integer eget commodo ante. Praesent auctor luctus ligula. Mauris convallis est vel purus malesuada iaculis. In hac habitasse platea dictumst. Nullam tortor elit, convallis in ultrices vel, interdum sed quam. Nunc volutpat sem dui, eget commodo quam maximus vel.</p>
							
	                  		<img src="http://placehold.it/400x200" class="img-responsive">

							<h2>Lorem ipsum</h2>

							<p>Etiam facilisis enim eu sagittis porta. Vivamus porttitor cursus mi. Vivamus semper, eros eget efficitur aliquet, velit arcu bibendum velit, a porttitor ante dui eu lectus. Sed libero arcu, sollicitudin vitae euismod viverra, molestie at odio. Praesent egestas tincidunt semper. Nunc imperdiet ante et urna feugiat malesuada. Donec hendrerit eleifend turpis vitae tincidunt. Quisque euismod sed lacus nec scelerisque. Phasellus posuere, arcu vitae vestibulum tincidunt, nunc urna imperdiet sapien, ac finibus justo ligula et arcu. Nunc tempus, nibh id condimentum molestie, ante enim faucibus arcu, eget vulputate magna mi non felis. In elementum ullamcorper ligula, nec molestie lorem convallis eu.</p>
	                    </div>
              		</div>
        		</div>
        	</div>
        </section>

		<footer>
		  	<div class="container">
		    	<div class="row">
			      	<div class="col-md-4 col-sm-6">
			        	<div class="logo">
			        		Gambá <span style="font-weight: 200">Games</span>
			        		<img src="imagens/Joystick Inverse.png" class="img-responsive" style="width: 30px; display: inline-block;">
		        		</div>
			        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum arcu id faucibus semper. Suspendisse malesuada iaculis quam eu ullamcorper.</p>
			        	<p><i class="fa fa-map-pin"></i> Av. Amílcar Pereira da Silva, 727 - Piteiras, Quissamã - RJ, 28735-000</p>
			        	<p><i class="fa fa-phone"></i> Telefone: +55 22 3853-9650</p>
			        	<p><i class="fa fa-envelope"></i> E-mail: gambagames@gmail.com</p>
			        
			      	</div>
			      	<div class="col-md-2 col-sm-6 paddingtop-bottom">
				        <h6 class="heading7">OUTROS LINKS</h6>
				        <ul>
				          	<li><a href="#">Geleia de Jogos</a></li>
							<li><a href="#">Tretas Federais</a></li>
							<li><a href="#">João Gambá</a></li>
							<li><a href="#">Livro do Barão</a></li>
							<li><a href="#">IFF - Campus Quissamã</a></li>
							<li><a href="#">Lero Lero</a></li>
							<li><a href="#">Lero Lero</a></li>
				        </ul>
			      	</div>
			      	<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">POSTS RECENTES</h6>
						<div class="post-preview">
							<p>
								<a href="single.html">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
								</a>
								<span>01/08/2017</span>
							</p>
							<p>
								<a href="single.html">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
								</a>
								<span>01/08/2017</span>
							</p>
							<p>
								<a href="single.html">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
								</a>
								<span>01/08/2017</span>
							</p>
						</div>
					</div>
			      	<div class="col-md-3 col-sm-6 paddingtop-bottom">
			        	<ul class="social-network social-circle">
	                        <li>
	                        	<a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        	</li>
	                        <li>
	                        	<a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                        	</li>
	                        <li>
	                        	<a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        	</li>
	                        <li>
	                        	<a href="#" class="icoEmail" title="Email"><i class="fa fa-envelope"></i></a>
                        	</li>
	                    </ul>
			      	</div>
			    </div>
		  	</div>
		</footer>
		<div class="copyright">
		  	<div class="container">
			    <div class="col-md-6">
			      	<p>© 2017 - Todos os direitos reservados</p>
			    </div>
			    <div class="col-md-6">
			      	<p>Desenvolvido por <a href="http://lucascraveiropaes.com">Lucas Craveiro Paes</a></p>
			    </div>
		 	</div>
		</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>