/* Global Styles */

body {
  color: #5a5a5a;
}

.left {
    float: left;
    left: 0;
}
.right {
    float: right;
    right: 0;
}
i {
    margin-right: 5px;
    margin-left: 5px;
}

/* Menu Icon */
.menu-icon {
    position: fixed;
    top: 30px;
    right: 30px;
    float: right;
}
#nav-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 2;
}
#nav-button span {
    z-index: 2;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    display: block;
    content: '';
    background-color: #000;
    margin-bottom: 5px;
    transition: all 300ms ease-in-out;
}

#nav-button.active span {
    background-color: transparent;
}
#nav-button.active span:first-child,
#nav-button.active span:last-child {
    background-color: #FFF;
}
#nav-button.active span:last-child {
    margin-top: -7px;
}
#nav-button.active span:first-child {
    margin-bottom: -8px; 
}
#nav-button.active span:first-child {
    transform: rotate(45deg);
}
#nav-button.active span:last-child {
    transform: rotate(-45deg);
}

#navbar.open {
    width: 40%;
}
#navbar {
    width: 0%;
}
.opacity-body {
}

.navbar {  
    height: 100%;
    width: 0%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: all .5s ease-in-out;
    z-index: 1000;
}

.navbar-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navbar a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar a:hover, .navbar a:focus {
    color: #f1f1f1;
}

@media(max-width: 700px) {
    #navbar.open {
        width: 100%;
    }
}
@media screen and (max-height: 450px) {
    .navbar a {
        font-size: 20px
    }
}

/* Post List */

.post-item {
    padding-left: 3%;
    padding-right: 3%;
}
    .post-item a {
        color: #5A5A5A;
        transition: .5s ease;
    }
    .post-item a:hover {
        color: #000;
        text-decoration: none;
    }
.post-list {
    padding-left: 5%;
    padding-right: 5%;
}
    .post-list p {
        text-align: justify;
    }
.title-box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px !important;
}
    .title-box hr {
        background: #5A5A5A;
        height: 1px;
        width: 90%;
        margin-top: -1.2em;
    }
    .title-box h3 {
        background: #FFF;
        padding: 5px 30px;
        margin: auto;
        z-index: 1;
    }

.game-list {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30px;
}
    .game-list {
        padding-left: 5%;
        padding-right: 5%;
    }

/* Carousel */

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Featurettes */
section.featurette {
  padding-bottom: 80px;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Overlay Effect */

.overlay {
    position: relative;
}

.overlay-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay-content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.overlay:hover .overlay-image {
    opacity: 0.5;
}

.overlay:hover .overlay-content {
    opacity: 1;
}

.overlay a {
    color: #FFF;
    padding: 10px 15px 12px;
    font-size: 20px;
}
.overlay a:hover {
    color: #FFF;
}

/* Float Social Button Share*/
.float-buttons {
    position: fixed;
    margin-top: 5vh;
    z-index: 500;
}
.float-buttons a {
    display: block;
    transition: 0.3s;
    padding: 20px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
}

.float-buttons a:hover {
    width: 130%;
    color: #FFF;
}

    @media(max-width: 575px) {
        .float-buttons {
            bottom: 0px;
            width: 100%;
            margin-left: 1%;
        }

        .float-buttons a {
            display: inline-block;
            width: 19%;
        }

        .other-posts {
            display: none;
        }
        .float-buttons a:hover {
            width: 19%;
            background-color: rgba(0,0,0,0.7) !important;
        }
    }

    @media (max-width: 915px), (max-height: 660px){
        .other-posts {
            display: none;
        }
    }

#facebook {
    background-color: #3b5999;
}

#linkedin {
    background-color: #0077B5;
}

#google-plus {
    background-color: #dd4b39;
}

#twitter {
    background-color: #55acee;
}

#whatsapp {
    background-color: #25D366;
}

.other-posts {
    position: fixed;
    top: 70vh;
    width: 100%;
    z-index: 500;
}
.post-brief a {
    transition: 0.3s;
    padding: 15px;
    width: 325px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #777777;
}
    .post-brief a * {
        display: inline-block;
    }
    .post-brief a h3 {
        padding: 10px;
        margin: 0px;
        font-size: 25px
    }
    .post-brief a i {
        font-size: 50px;
        font-weight: 800;
        padding-left: 10px;
        padding-right: 10px;
    }
.post-brief a.left {
    margin-left: -257px;
}

    .post-brief a.left i {
        float: right;
    }

.post-brief a.left:hover {
    margin-left: 0px;
}

.post-brief a.right {
    margin-right: -257px;
    text-align: right;
}

    .post-brief a.right i {
        float: left;
    }

.post-brief a.right:hover {
    margin-right: 0px;
}

/* Post */


.post {
    padding-left: 5%;
    padding-right: 5%;
}
    .post p {
        text-align: justify;
        font-size: 23px;
    }
    .post img {
        width: 100%;
        margin: auto;
    }

/* Footer */

footer {
  background-color: #2d2d2d;
  min-height:350px;
  padding-top: 5px;
  margin-top: 80px;
}
    footer h6 {
        font-size:21px;
        font-weight:700;
        color:#d9d6d6;
        margin-bottom:22px;
    }
    footer a {
      transition: color 0.2s linear 0s, background 0.2s linear 0s;
      color: #cecece;
    }
    footer a:hover,
    footer a:active,
    footer a:focus {
      color: #ffffff;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      text-decoration: none;
    }
    footer p {
      color:#cecece;
      font-size:12px !important;
      margin-bottom:15px;
      text-align: justify;
    }
    footer p i {
      width:20px;
      color:#999;
    }
    footer ul {
      list-style-type:none;
      padding-left:0px;
      margin-left:2px;
    }
    footer ul li {
      line-height:29px;
      font-size:12px;
    }
    footer ul li a {
      transition: color 0.2s linear 0s, background 0.2s linear 0s;
      color: #a0a3a4;
    }
    footer .row {
      margin-top: 30px;
      padding:0 15px;
    }
    footer .container-fluid {
      padding-left: 10%;
      padding-right: 10%;
    }
    footer .logo {
      margin-bottom:10px;
      font-size:25px; 
      color:#fff; 
      font-weight:700;
    }
    footer .post-preview {
        margin-top: 0;
    }
    footer .post-preview p {
        font-size:12px;
        color:#cecece;
        line-height:20px;
    }
    footer .post-preview p span {
        display:block;
        color:#8f8f8f;
    }
    .copyright {
        min-height:40px;
        background-color:#000000;
    }
    .copyright p {
        text-align:center;
        color:#FFF;
        padding:10px 0;
        margin-bottom:0px;
    }
    .copyright a {
        color: #C69D03;
        text-decoration: none;
    }
    .copyright a:hover {
        color: #FDCA0D;
        text-decoration: none;
    }

/* Ícones de Redes Sociais */

    ul.social-network {
        list-style: none;
        display: inline;
        margin-left:0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

    /* footer social icons */
    .social-network a.icoFacebook:hover {
        background-color:#3B5998;
    }
    .social-network a.icoTwitter:hover {
        background-color:#33ccff;
    }
    .social-network a.icoGoogle:hover {
        background-color:#BD3518;
    }
    .social-network a.icoEmail:hover {
        background-color:#D34D40;
    }
    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color:#fff;
    }
    a.socialIcon:hover, .socialHoverClass {
        color:#44BCDD;
    }

    .social-network li {
        display: block;
    }

    .social-circle li a {
        display:inline-block;
        position:relative;
        margin:0 auto 0 auto;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
        text-align:center;
        width: 50px;
        height: 50px;
        font-size:20px;
    }
    .social-circle li i {
        margin:0;
        line-height:50px;
        text-align: center;
    }

    .social-circle li a:hover i, .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }