<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarNoticias</servlet-name>
        <servlet-class>Servlet.ListarNoticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroNoticia</servlet-name>
        <servlet-class>ServletsCadastros.CadastroNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroBolsista</servlet-name>
        <servlet-class>ServletsCadastros.CadastroBolsista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreAtualizarNoticia</servlet-name>
        <servlet-class>Servlet.PreAtualizarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarNoticiasAtualizar</servlet-name>
        <servlet-class>Servlet.ListarNoticiasAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarNoticia</servlet-name>
        <servlet-class>Servlet.AtualizarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarNoticiaEditar</servlet-name>
        <servlet-class>Servlet.SalvarNoticiaEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarNoticiaEditada</servlet-name>
        <servlet-class>Servlet.SalvarNoticiaEditada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarNoticia</servlet-name>
        <servlet-class>ServletsCadastros.DeletarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarInformacoes</servlet-name>
        <servlet-class>Servlet.AtualizarInformacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiaEscolhida</servlet-name>
        <servlet-class>Servlet.NoticiaEscolhida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProfessor</servlet-name>
        <servlet-class>ServletsCadastros.CadastroProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarNoticias</servlet-name>
        <url-pattern>/ListarNoticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroNoticia</servlet-name>
        <url-pattern>/CadastroNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroBolsista</servlet-name>
        <url-pattern>/CadastroBolsista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreAtualizarNoticia</servlet-name>
        <url-pattern>/PreAtualizarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarNoticiasAtualizar</servlet-name>
        <url-pattern>/ListarNoticiasAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarNoticia</servlet-name>
        <url-pattern>/AtualizarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarNoticiaEditar</servlet-name>
        <url-pattern>/SalvarNoticiaEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarNoticiaEditada</servlet-name>
        <url-pattern>/SalvarNoticiaEditada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarNoticia</servlet-name>
        <url-pattern>/DeletarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarInformacoes</servlet-name>
        <url-pattern>/AtualizarInformacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiaEscolhida</servlet-name>
        <url-pattern>/NoticiaEscolhida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProfessor</servlet-name>
        <url-pattern>/CadastroProfessor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
        <!-- Matar o processo da porta 8080: netstat -nao + taskkill/F /PID "numPorta" -->
    </welcome-file-list>
</web-app>
